{% macro display_sources(sources_list) %}

<div class="container-fluid">
    <div class="card-columns">
        {% for source in sources_list %}
        <div class="card sourcecard">
            <div class="card-header" id="sourcename" >
                <h4><a href="/articles/{{source.id}}">{{source.name}}</a></h4>
            </div>
            <div class="card-body">
                <p class="desc">
                    {{source.description}}
                </p>
                <a href="/articles/{{source.id}}"><button class="btn btn-sm btn-outline-success">Read Articles</button> </a>
                <a href="{{source.url}}"><button class="btn btn-sm btn-outline-info" id="visit">Visit {{source.name}}</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endmacro %}


{% macro display_articles(articles_list) %}

{% for article in articles_list %}
    <li>{{article.title}}</li>
    <li>{{article.description}}</li>
{% endfor %}

{% endmacro %}